#Title {
	font-size: 4.7em;
	color: black;
	font-weight: 900; 
	font-family: 'Courier New';
	text-decoration: 'none';
	margin-top: 5;
	align-text: center;
	margin: 50;
}

#About-Me {
	color: black;
	font-size: 2.1em;
	font-weight: 700; 
	font-family: 'Courier New';
	text-decoration: 'none';
	margin-top: 5;
}

.app {
	display: flex; 
	flex-direction: column; 
	background-color: transparent;
	height: 100%;
}
.marketpage {
	display: flex;
	flex-direction: column;
	background-color: transparent; 
	align-items: center;
}
.marketgraph {
	background-color: transparent;
	align-items: center;
	width: 50em;
	height: 40em;
	justify-content: center;
}
.bitcoingraph {
	background-color: transparent;
	align-items: center;
	width: 100%;
	height: 40vh;
	justify-content: center;
}
.bitcoinoptions {
	position: relative;
	right: 0;
	width: 5vw;
	font-size: 18px;
	border-width: 0;
}
.paragraph {
	color: black;
	font-size: 1.5em;
	font-weight: 400;
	font-family: 'Courier New';
	margin-top: 2em;
	margin: 50;
}

.table_row_parent { 
	border-width: 2; 
	border-style: solid; 
	display: flex;
	flex-direction: column;
}

.section-title {
	margin: 50;
	font-size: 2em;
	font-weight: 900;
	font-family: 'Courier New';
	margin-top: 2em;
}

.code-image {
	margin: 0;
	width: 100;
}

.header {
	display: flex;
	flex-direction: row;
	width: 100%;
	height: 3em; 
	background-color: black; 
	align-items: center; 
}

.header-link {
	font-weight: 900;
	font-family: 'Courier New';
	font-size: 18;
	color: white; 
	position: absolute;
	top: 1em;
	left: 2em;
	cursor: pointer; 
	text-decoration: none;  
}


.linegraph {
	display: flex;
	width: 25em;
}

.intradaypage {
	margin-top: 3em;
	display: flex; 
	justify-content: center;
	align-items: center;
	background-color: Snow;
	width: 90%;
}

.intradaychild {
	margin-top: 10em;
}

.intradaylinegraph {

	margin-top: 0em;
	width: 60em;
	height: 40em;
	background-color: transparent;
}

.intradaybargraph {
	display: flex;
	margin-top: 0.1em;
	width: 49.5em;
	height: 15em; 
	margin-left: 5em;
	background-color: transparent;
}

.autocorrelationgraph {
	display: flex;
	background-color: transparent;
	width: 40em;
	height: 15em;
	margin-top: 4em;
}

.autocorrelationgraph_intraday {
	width: 50em;
	height: 24em;
	margin-left: 2em;
	margin-top: 4em;
}

.candleStickGraph_intraday {
	display: flex;
	width: 50em;
	height: 20em;
	margin-top: 5em;
	margin-left: 3.5em;
}

.candleStickGraph {
	display: flex;
	height: 15em;
	width: 41em;
	margin-top: 1em;
	background-color: transparent;
}

.graphViews {
	display: flex;
	background-color: Snow;
	width: 90%;
}

.marketgraph-view {
	display: flex;
    background-color: Snow;
    width: 90%;
    flex-direction: column;
    margin-top: 10em;
}


.graphViewChild {
	display: flex;
	background-color: transparent;
	flex-direction: column; 
	height: 40em;
	width: 50em;
}

.graph-page-title {
	font-family: 'Courier New';
	font-weight: 700; 
	color: black;
	font-size: 2.5em;
}

.background-video {
	display: flex;
	width: 100%;
	background-color: transparent;
}

.videobanner {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 70%;
	width: 100%;
	top: 0;
	position: absolute;
	background-color: transparent;
	color: white;
	font-family: 'Courier New';
}

.bannerchild {
	font-size: 4vh;
	margin-left: 4em;
	margin-top: 2.5em;
}

.bannerAd {
	position: absolute;
	top: 30%;
	width: 90%;
	height: 30vh;
	display: flex;
	font-size: 4.5vh;
	align-text: center;
	align-items: center;
	justify-content: center;
	background-color: transparent;
	color: black;
	opacity: 0.6;
}

