#Title {
	font-size: 4.7em;
	color: black;
	font-weight: 900; 
	font-family: 'Arial';
	text-decoration: 'none';
	margin-top: 5;
	align-text: center;
	margin: 50;
}
#About-Me {
	color: black;
	font-size: 2.1em;
	font-weight: 500; 
	font-family: 'Arial';
	text-decoration: 'none';
	margin-top: 5;
}
.app {
	display: flex; 
	flex-direction: column; 
	background-color: transparent;
	height: 100%;
}
.enter_icons {
	width: 2.3em; 
	height: 2.3em; 
	margin-left: 1em;
	margin-top: 0.05em; 
	cursor: pointer;
}

.bitcoin_history_options {
	position: relative;
	display: flex;
	flex-direction: row;
	font-size: 12;
	font-family: 'Arial';
	justify-content: center;

}

.bitcoin_history_options_label {
	display: flex;
	align-items: center;
	cursor: pointer;
	margin: 1.5em;
}

.bitcoin_history_options_label:hover{
	border-bottom-style: solid;
	border-bottom-width: 0.01em;
	border-bottom-color: black;
	opacity: 0.7;
}

.bitcoin_history_options_label_selected {
	margin: 1.5em;
	display: flex;
	align-items: center;
	cursor: pointer;
	border-bottom-style: solid;
	border-bottom-width: 0.01em;
	border-bottom-color: black;
}

.stock_history_options {
	position: relative;
	display: flex;
	flex-direction: row;
	font-size: 12;
	font-family: 'Arial';
	justify-content: center;
}
.stock_history_options label {
	display: flex;
	flex-direction: column;
	margin: 1em;
	align-items: center;
	cursor: pointer;
}
.stock_history_options select {
	width: 7em;
	height: 2.5em;
	background: Snow;
	margin: 0.3em;
	border-width: 0;
}
.marketpage {
	display: flex;
	flex-direction: column;
	background-color: transparent; 
	align-items: center;
}
.marketgraph {
	background-color: transparent;
	align-items: center;
	width: 50em;
	height: 40em;
	justify-content: center;
}
.bitcoingraph {
	background-color: transparent;
	align-items: center;
	width: 100%;
	height: 40vh;
	justify-content: center;
}
.bitcoinoptions {
	position: relative;
	right: 0;
	width: 5vw;
	font-size: 18px;
	border-width: 0;
}
.bitcoinCandleStickPlot {
	background-color: transparent;
	align-items: center;
	width: 100%;
	height: 40vh;
	justify-content: center;
}
.paragraph {
	color: black;
	font-size: 1.5em;
	font-weight: 500;
	font-family: 'Arial';
	margin-top: 2em;
	margin: 50;
}
.table_row_parent { 
	border-width: 2; 
	border-style: solid; 
	display: flex;
	flex-direction: column;
}
.section-title {
	margin: 50;
	font-size: 2em;
	font-weight: 900;
	font-family: 'Arial';
	margin-top: 2em;
}
.code-image {
	margin: 0;
	width: 100;
}
.header {
	display: flex;
	flex-direction: row;
	width: 100%;
	height: 3em; 
	background-color: black; 
	align-items: center; 
}
.header-link {
	font-weight: 700;
	font-family: 'Arial';
	font-size: 18;
	color: white; 
	position: absolute;
	top: 1em;
	left: 2em;
	cursor: pointer; 
	text-decoration: none;  
}
.linegraph {
	display: flex;
	width: 25em;
}
.intradaypage {
	margin-top: 3em;
	display: flex;
	flex-direction: column; 
	background-color: transparent;
	width: 90%;
	height: 100%;
}
.intradaychild {
	display: flex;
	flex-direction: row;
}
.intradaylinegraph {
	width: 50em;
	height: 27em;
	background-color: Snow;
	margin: 1.5em;
}
.intradaybargraph {
	display: flex;
	width: 50em;
	height: 15em; 
	background-color: transparent;
	margin-left: 5em;
}
.autocorrelationgraph {
	display: flex;
	background-color: transparent;
	width: 50em;
	height: 15em;
}
.autocorrelationgraph_intraday {
	display: flex;
	width: 45em;
	height: 20em;
	margin-left: 6em;
}
.candleStickGraph_intraday {
	display: flex;
	width: 50em;
	height: 30em;
	margin-top: 2em;	
}
.candleStickGraph {
	display: flex;
	height: 15em;
	width: 41em;
	background-color: transparent;
}

.graphViews {
	display: flex;
	background-color: Snow;
	width: 90%;
}

.marketgraph-view {
    background-color: Snow;
    width: 90%;
    flex-direction: column;
    margin-top: 10em;
}

.graphViewChild {
	display: flex;
	background-color: transparent;
	flex-direction: column; 
	height: 40em;
	width: 50em;
}

.graph-page-title {
	font-family: 'Arial';
	font-weight: 500; 
	color: black;
	font-size: 2.5em;
}

.background-video {
	display: flex;
	width: 100%;
	background-color: transparent;
}

.videobanner {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 70%;
	width: 100%;
	top: 0;
	position: absolute;
	background-color: transparent;
	color: white;
	font-family: 'Arial';
}

.bannerchild {
	font-size: 4vh;
	margin-left: 4em;
	margin-top: 2.5em;
}

.bannerAd {
	position: absolute;
	top: 30%;
	width: 90%;
	height: 30vh;
	display: flex;
	font-size: 4.5vh;
	align-text: center;
	align-items: center;
	justify-content: center;
	background-color: transparent;
	color: black;
	opacity: 0.6;
}

/**
  responsive container
**/
.gridcontainer {
  min-width: 100%;
  align-items: center;
}
.gridwrapper {
  overflow: hidden;
  display: flex;
  flex-direction: row;
}
.gridbox {
    /*margin-left: 2.0242914979757085020242914979757%;*/
    /* margin-right: 2.0242914979757085020242914979757%;*/
}
.gridmain {
  /*width: 48.987854251012145748987854251012%;*/
    width: 100%;
}


@media only screen and (max-width: 700px){

	.gridwrapper {
		display: flex;
		flex-direction: column;
	}

    .gridmain {
      width: 100%;
    }

    .gridbox {
      
    }
}













