.homepage-input {
		font-size: 18; 
		font-weight: 700;
		font-family: 'Arial';
		height: 3.2em; 
		width: 17em;
		border-radius: 0.7em;
}

.pickercontainer {
	display: flex;
    align-items: center; 
    background-color: transparent;
    position: relative;
    top: 0.3em;
}

.picker-instructions {
	display: flex;
	justify-content: center;
	align-items: center; 
	flex-direction: row;
	font-size: 1.5em; 
	font-weight: 400; 
	font-family: 'Arial';
	color: black;
}

.market-picker {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	color: black;
}

.market-picker-item {
	display: flex; 
	cursor: pointer; 
	font-family: 'Arial';
	font-size: 24;
	color: black;
	margin-left: 1em;
	:hover { 
	    color: blue;
	}
}

.dropdown-arrow {
	width: 2.0em; 
	height: 2.0em;
	margin-top: 0.4em;
	cursor: pointer;
}

.market-date-picker-container {
	display: flex;
	right: 1em;
	align-items: center;
	justify-content: center;
	align-text: center; 
	margin-top: -1.5em;
}

.date-input {
	width: 10em;
	margin: 1em;
}

.submit-button {
	background-color: white;
	width: 2.4em;
	height: 2.4em;
	margin-top: 1.5em; 
	margin-left: 1em;
	cursor: pointer;
}

.date-text {
	margin-left: 1.1em;
	font-size: 12;
	margin-bottom: 10; 
	color: black;
	font-family: 'Arial';
}