
.market-picker {
	margin-left: 3em;


}

.market-picker-item {

	display: flex; 
	cursor: pointer; 
	font-family: 'Courier New';
	font-size: 18;
	:hover { 
	    color: yellow;
	}
}

.dropdown-arrow {
	width: 2.0em; 
	height: 2.0em;
	margin-top: 0.4em;
	cursor: pointer;
}

.market-date-picker-container {
	display: flex;
	right: 1em;
	align-items: center;
	justify-content: center;
	align-text: center; 
	margin-top: -1.5em;
}

.date-input {
	width: 10em;
	margin: 1em;
}

.submit-button {
	background-color: white;
	width: 2.4em;
	height: 2.4em;
	margin-top: 1.5em; 
	margin-left: 1em;
	cursor: pointer;
}

.date-text {
	margin-left: 1.1em;
	font-size: 12;
	margin-bottom: 10; 
	color: white;
	font-family: 'Courier New';
}